<form class="form-group">
  <label for="from">From</label>
  <input
    type="text"
    class="form-control"
    name="from"
    id="from"
    placeholder="From"
    [(ngModel)]="from"
  />

  <label for="to">To</label>
  <input
    type="text"
    class="form-control"
    name="to"
    id="to"
    placeholder="To"
    [(ngModel)]="to"
  />

  <button
    class="btn btn-primary"
    [disabled]="from === '' || to === ''"
    (click)="search()"
  >
    Search
  </button>
</form>

<table class="table">
  <thead>
    <th>ID</th>
    <th>From</th>
    <th>To</th>
  </thead>
  <tbody>
    @for (flight of flights; track $index) {
    <tr>
      <td>{{ flight.id }}</td>
      <td>{{ flight.from }}</td>
      <td>{{ flight.to }}</td>
    </tr>
    } @empty {
    <tr class="text-center">
      <td colspan="3">No flights found!</td>
    </tr>
    }

    <!-- Old syntax with structural directive -->
    <!-- <tr *ngFor="let flight of flights">
      <td>{{ flight.id }}</td>
      <td>{{ flight.from }}</td>
      <td>{{ flight.to }}</td>
    </tr> -->

    <!-- @if (flights.length === 0) {
    <tr>
      <td colspan="3">No flights found!</td>
    </tr>
    } -->

    <!-- Old syntax with structural directive -->
    <!-- <tr *ngIf="flights.length === 0">
      <td colspan="3">No flights found!</td>
    </tr> -->
  </tbody>
</table>
